<% if user_signed_in? %>
  <div class="well">
      <%= link_to 'Entry new data', new_book_path, remote: true, class: "btn btn-primary" %>
  </div>

  <div class="page-header">
      <h1>Data phone book</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <td><b>Name</b></td>
            <td><b>Address</b></td>
            <td><b>Number</b></td>
            <td><b>Email</b></td>
          <% if can? :look, Book %>
            <td><b>User</b></td>
          <% end %>
            <td colspan="2" align="center"><b>Action</b></td>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= book.name %></td>
            <td><%= book.address %></td>
            <td><%= book.number %></td>
            <td><%= book.email %></td>
          <% if can? :look, Book %>
            <td><%= book.user.email %></td>
          <% end %>
            <td><%= link_to "Edit", edit_book_path(book), remote: true, class: "btn btn-warning", id:"edit" %></td>
          <% if can? :destroy, Book %>
            <td><%= link_to "Destroy", book_path(book), method: :delete, class: "btn btn-danger", id: "btn-delete" %></td>
          <% end %>
          </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>


<div id="book-modal" class="modal fade" ></div>

<% end %>
